:root {
  --sec-color: #fa0;
}

img,
video,
embed,
iframe {
  max-width: 100%;
}

section {
  margin: auto;
  max-width: 80ch;
}

.error {
  color: #dc4343;
}
.grey,
.gray {
  color: #888;
}

.country {
  --_pd-inline: 2rem;
  --_pd-block: 1rem;
  --_transition: 0.3s ease;

  position: relative;
  box-shadow: 0 0 10px -5px currentColor;
  margin: 2rem 0;
  border-radius: 1rem;
  overflow: hidden;

  .list-input {
    width: 0;
    height: 0;
    user-select: none;
    visibility: hidden;
    position: absolute;

    ~ label .title {
      box-shadow: 0 0px 0px 0x currentColor;

      &::after {
        content: "\276F";
        transition: var(--_transition);
      }
    }

    &:checked {
      ~ label .title {
        box-shadow: 0 2px 3px -3px currentColor;

        &::after {
          rotate: 90deg;
        }
      }

      ~ .content {
        max-height: 300vh;
        padding: var(--_pd-block) var(--_pd-inline);
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: var(--_pd-block) var(--_pd-inline);

    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex: 1;
    }

    &:hover {
      background-color: #fff1;
    }

    img {
      height: 3rem;
      min-width: fit-content;
      width: 6rem;
      object-fit: contain;
      object-position: left;
    }
  }

  .content {
    max-height: 0;
    padding: 0 var(--_pd-inline);
    transition: var(--_transition);
  }
}

.button {
  --_border-radius: 1000rem;
  --_padding-block: 0.5rem;
  --_padding-inline: 1.5rem;
  --_padding: var(--_padding-block, 0.5rem) var(--_padding-inline, 1rem);
  --_placeholder-color: var(--gray-color, #888);
  --_icon-size: 2rem;

  box-shadow: 0 0 10px -5px currentColor;
  background-color: #222;
  color: var(--white-color, #fff);
  border-radius: var(--_border-radius, 0.5rem);
  padding: var(--_padding);
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid transparent;
  cursor: pointer;
  display: grid;
  place-items: center;

  &:hover {
    filter: contrast(2) grayscale(0.5);
  }

  &.btn-danger,
  &:disabled,
  &.cancel {
    background-color: var(--gray-color, #888);
  }

  &.clr-dark {
    color: var(--main-color);
    font-weight: bold;
  }

  &.inverse {
    background-color: transparent;
    color: var(--sec-color);
    border: 2px solid currentColor;

    &:hover {
      background-color: #fff1;
      filter: none;
    }
  }

  &.texted {
    padding: 0;
    background-color: transparent;
    color: var(--sec-color);
    border: 2px solid transparent;

    &:hover {
      background-color: var(--transparent-sec-color);
    }
  }
}
